<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ob-Havo Uz</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

    <div class="mainContainer">

        <div class="navSection contactNav">

            <nav class="navbar">
    
                <ul>
    
                    <li class="contactUs navMen"><a href="/contact">Bog'lanish</a></li>
                    <li class="logo"><a href="/"><img src="/images/Ob-havo uz.png" alt="Ob-Havo UZ sayt logosi"></a></li>
                    <li class="about navMen"><a href="/about">Haqimizda</a></li>
    
                </ul>
    
            </nav>
    
        </div>
    
        <div class="card telSizeCard">
    
            <div class="front">
    
                <img src="./images/alisher copy.png" alt="O'zim Haqimda sahifasi uchun rasm">
    
            </div>
    
            <div class="back">
    
                <h1>Alisher Pulatov</h1>
                <p>Professional Full-Stack Dasturchi</p>
                <p>Yashash Joyi: Chicago, IL, USA</p>
                <div class="socialLinks">
                    <a href="https://www.instagram.com/ayti_choyxona/"><img class="instaLogo socialLinksLogo" src="/images/insta-logo.webp" alt="Instagram Logo Rasmi"></a>
                    <a href="https://www.facebook.com/alisher.pulatov.372"><img class="facebookLogo socialLinksLogo" src="/images/facebook-logo.webp" alt="Facebook Logo Rasmi"></a>
                    <a href="https://www.youtube.com/@AyTiChoyxona"><img class="youTubeLogo socialLinksLogo" src="/images/Youtube-logo.jpeg" alt="YouTube Logo Rasmi"></a>
                </div>
    
            </div>
    
            
        </div>
    </div>

    

        

    <!-- </div> -->
    
</body>

</html>