<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ob-Havo Uz</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>

<body>

    <div class="mainContainer">

        <div class="navSection contactNav">

            <nav class="navbar">
    
                <ul>
    
                    <li class="contactUs navMen"><a href="/conatct">Bog'lanish</a></li>
                    <li class="logo"><a href="/"><img src="/images/Ob-havo uz.png" alt="Ob-Havo UZ sayt logosi"></a></li>
                    <li class="about navMen"><a href="/about">Haqimizda</a></li>
    
                </ul>
    
            </nav>
    
        </div>
    
        <!-- <div class="container"> -->
    
            <div class="mailFormBox telSize">
    
                <form>
    
                    <label class="contactLabel" for="firstname">Ism-Familyangiz</label>
                    <input name="name" id="firstname" type="text"/>
    
                    <label class="contactLabel" for="email">E-mailingiz</label>
                    <input name="email" id="email" type="text"/>
    
                    <label class="contactLabel" for="feedbackArea">Sizning Fikringiz!</label>
                    <textarea name="text" id="feedbackArea" class="feedback-input"></textarea>
    
                    <input class="submit" type="submit" value="SUBMIT" />
    
                </form>
    
            </div>

    </div>

    

        

    <!-- </div> -->
    
</body>

</html>